.container {
  display: flex;
  flex-direction: column;
  gap: 12px;
  height: 100%;
}

.board {
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  gap: 16px;
  flex: 1;
  align-items: stretch;
}

@media (max-width: 760px) {
  .board {
    grid-template-columns: 1fr;
  }
}
